<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :zip_url %><br />
    <%= f.text_field :zip_url %>
  </div>
  <div class="field">
    <%= f.label :rating %><br />
    <%= f.text_field :rating %>
  </div>
  <div class="field">
    <%= f.label :uuid %><br />
    <%= f.text_field :uuid %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :game_url %><br />
    <%= f.text_field :game_url %>
  </div>
  <div class="field">
    <%= f.label :resolution %><br />
    <%= f.text_field :resolution %>
  </div>
  <div class="field">
    <%= f.label :metascore %><br />
    <%= f.text_field :metascore %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
